#footer{
    background-color: #495E57;
    font-family: karla,serif;
    a{
        text-decoration: none;
    }
    #footer-container{
      color: aliceblue;
        padding-left: 15% ;
        padding-right:15% ;
        @media (max-width: 480px) {
            padding-left: 5% ;
             padding-right:5% ;
        }
        @media (max-width: 1023px) and (min-width: 768px) {
            padding-left: 10%;
            padding-right: 10%;
        }
        @media (max-width: 768px) and (min-width: 481px) {
          
            padding-left: 10%;
            padding-right: 10%;
        
        }
        img{
            width: 40%;
            height: auto;
        }
        h4{
            text-transform: uppercase;
            letter-spacing: 0.1875rem;
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }
        ul{
            list-style: none;
            padding: 0;
        }
        li:hover{
            color: #F4CE14;
            cursor: pointer;
        }
        a{
            color: aliceblue;
        }
        a:hover{
            color: #F4CE14;
            cursor: pointer;
        }
    }
}