

#hero{
    // padding-left: 15%;
    // padding-right: 15%;
    background-color: #495E57;
    margin-bottom: 5rem;
   
}
#hero-section{

height: 50vh;
padding-left: 15% ;
padding-right:15% ;
@media (max-width: 480px) {
    padding-left: 5% ;
padding-right:5% ;
height: 55vh;

}
@media (max-width: 768px) and (min-width: 481px) {
    height: 40vh;
    padding-left: 10%;
    padding-right: 10%;

}

@media (max-width: 1023px) and (min-width: 769px) {
    height: 30vh;
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    color: #F4CE14;
    font-size: 4rem;
    @media (max-width: 480px) {
        font-size: 3rem;
    }
}
h2{

    color: azure;
    font-size: 3rem;
    @media (max-width: 480px) {
        font-size: 2rem;
    }
}
p{
    color: azure;
    font-size: 1.5rem;
    @media (max-width: 480px) {
        font-size: 1rem;
    }
}
img{
    width: 100%;
    height: 24rem;
    margin-top: 1rem;
    justify-self: end;
    border-radius: 1rem;
    object-fit: cover;
    @media (max-width: 480px) {
        height: 15rem;
        margin-top: 8rem;
    }
    @media (max-width: 768px) and (min-width: 481px) {}
  
}
}
