img{
    height:50px
}
#myTab{
    width: 100% !important;
    display: flex;
    justify-content: end;
 
    
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    background-color: #F4CE14 !important;
}