@font-face {
  font-family: 'MarkaziText';
  src: url('../public/MarkaziText-VariableFont_wght.ttf') format('truetype');
  /* Add more formats if necessary */
}


@font-face {
  font-family: 'karla';
  src: url('../public/Karla-VariableFont_wght.ttf') format('truetype');
  /* Add more formats if necessary */
}



body {
  margin: 0;
  font-family: 'MarkaziText', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  font-family: 'MarkaziText', serif;
}
